<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="774083852848-4dopf21hopfbs79gre07buuju1c89jul.apps.googleusercontent.com">

  <title>4DGames</title>
  
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  }
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
