{{>header}}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p></p>
        <h2>Juegos subidos</h2>  
        <a href="/addGame">
          <image src="/images/plusicon.png" width="40" height="40"></image>
        </a>
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Portada</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Categoria</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#games}}
            <tr>
              <td><image src="/images/skyrimlogo.jpg" width="200" height="120" style="margin-left: 20px;"></image></td>
              <td>{{gameTitle}}</td>
              <td>{{description}}</td>
              <td> {{genre}}</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            {{/games}}
            {{^games}}
            <tr>
              <td>No se ha encontrado el juego</td>
              <td>No se ha encontrado el juego</td>
              <td>No se ha encontrado el juego</td>
              <td>No se ha encontrado el juego</td>
            </tr>
	          {{/games}}
            <tr>
              <td><image src="/images/skyrimlogo.jpg" width="200" height="120" style="margin-left: 20px;"></image></td>
              <td>Skyrim</td>
              <td>Un juegazo brutal que todo el mundo debería jugar etc</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td><image src="/images/Stardew-Valley.jpg" width="200" height="120" style="margin-left: 20px;"></td>
              <td>Stardew Valley</td>
              <td>Un juego de granjas</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td><image src="/images/skyrimlogo.jpg" width="200" height="120" style="margin-left: 20px;"></image></td>
              <td>Skyrim</td>
              <td>Un juegazo brutal que todo el mundo debería jugar etc</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td><image src="/images/Stardew-Valley.jpg" width="200" height="120" style="margin-left: 20px;"></td>
              <td>Stardew Valley</td>
              <td>Un juego de granjas</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td><image src="/images/skyrimlogo.jpg" width="200" height="120" style="margin-left: 20px;"></image></td>
              <td>Skyrim</td>
              <td>Un juegazo brutal que todo el mundo debería jugar etc</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td><image src="/images/Stardew-Valley.jpg" width="200" height="120" style="margin-left: 20px;"></td>
              <td>Stardew Valley</td>
              <td>Un juego de granjas</td>
              <td>juego de rol</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col-lg-12 -->
      <div class="col-lg-12 col-md-12 mb-12" style="align-items: center;">
        <div class="card-body">
          <div class="card h-100">
              <button class="btn btn-info">Mostrar Más</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  {{>footer}}