{{>header}}
<div class="container container-white" style="padding-bottom: 150px">
    <div class="row">
      <div class="col-lg-3">
  
      </div>
      <div class="col-lg-6">
        <div class="main-section">
          <div class="content-section">
            <div class="head-section">
              <h3>Nuevo post</h3>
            </div>
            <div class="body-section">
              <form action="/adminUpdates/newPost/{{game.id}}" method="post" enctype="multipart/form-data">
                <p>Portada:</p>
		            <input type='file' name='imageField' accept=".jpg, .jpeg"/>	
                <div class="form-input">
                  <input type="text" name="newTitle" placeholder="Titulo Post">
                </div>
                <div class="form-input">
                  <textarea name='postText' rows=20 cols=40></textarea>
                </div>          
                <div class="form-input">
                  <div class="wrap">
                    <input list="postTypes" name="theType" type="text"
                        placeholder="Escoge la categoría">
                    <datalist id="postTypes">
                        <option value="Guías"></option>
                        <option value="Noticias"></option>
                        <option value="Actualizaciones"></option>
                    </datalist>
                </div>
                  </div>      
                <div class="form-input">
                  <input type="submit" value="Create Post">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
  <!-- /.container -->
{{>footer}}