{{>header}}
  <!-- Page Content -->
  <div class="container container-white">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
          <!-- Title -->
          <h1 class="mt-4">{{post.title}}</h1>
  
          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Start Bootstrap</a>
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p>{{post.author}}</p>
          <p>{{post.creationDate}}</p>
          <p>{{post.updateDate}}</p>
          {{#isAdmin}}
          <form action="/editPostPage/{{post.id}}">
            <button class="btn btn-secondary" style="background-color: rgb(0, 204, 255);" type='submit'  aria-haspopup="true" aria-expanded="false">
                Editar post
            </button>                            
          </form>
          {{/isAdmin}}
          <hr>
  
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/posts/{{id}}/image" alt="">
  
          <hr>
  
          <!-- Post Content -->
          <p class="lead">{{post.postText}}</p>
          <hr>

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-lg-3 col-md-4 col-sm-4">
        <h2 class="my-4">{{whatList}}</h2>
        
        <div class="container" style="margin-right: 20px; margin-bottom: 20px;">
        {{#selectedList}}
        <div class="card h-100">
          <a href="/GamePage/{{id}}"><img class="card-img-top" src="/games/{{id}}/image" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" class="links"></a>
            </h4>
            <p class="card-text">{{gameTitle}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{averageScore}} ★</small>
          </div>
        </div>
        {{/selectedList}}
        
      </div>
    </div>
  </div>
  <!-- /.container -->
  {{>footer}}