{{>header}}
  <!-- Page Content -->
  <div class="container container-white">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-8 ">
        <h1 class="my-4">Juegos</h1>
        <div class="row">
          {{#games}}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card h-100">
              <a href="/GamePage/{{id}}"><img class="card-img-top" src="/games/{{id}}/image"  alt=""></a>
              <div class="card-body">
                <h6 class="card-title links">
                  <a href="/GamePage/{{id}}" class="links">{{gameTitle}}</a>
                </h6>
                <!--<p class="card-text">descipcion corta que ya veremos como la ponemos si la ponemos</p>-->
              </div>
              <div class="card-footer">
                <small class="text-muted">{{averageScore}} ★</small>
              </div>
            </div>
          </div>
          {{/games}}
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-12" style="align-items: center; width:100%">
            <div class="card-body">
              <div class="card h-100">
                  <button class="btn btn-info">Mostrar Más</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
      <div class="col-lg-3 col-md-4 col-sm-4">
        <h1 class="my-4">Categorias</h1>
        <div class="container" style="margin: 10px;">
          <form action="/searchGames" method="post" enctype="multipart/form-data">
          <input type="checkbox" name="Horror" > <label>Horror</label><br>
          <input type="checkbox" name="Shooter" > <label>Shooter</label><br>
          <input type="checkbox" name="Action"> <label>Action</label><br>
          <input type="checkbox" name="Plataformer"> <label>Plataformer</label><br>
          <input type="checkbox" name="Sports"> <label>Sports</label><br>
          <input type="checkbox" name="Puzzles"> <label>Puzzles</label><br>
          <input type="checkbox" name="Narrative"> <label>Narrative</label><br>
          <input type="checkbox" name="RPG"> <label>RPG</label><br>
          <input type='submit' value='Buscar'/>
        </form>
        </div>
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
</div>
  <!-- /.container -->
{{>footer}}
