{{>header}}
  <!-- Page Content -->
 
    <div class="container container-white"  >
      <h1 class="my-4">{{game.gameTitle}}</h1>
        <div class="row">
            {{#logged}}
            <div class="col-lg-4">
                <img src="/games/{{id}}/image" width="375" height="525">
                <div class="container-fluid" id="usuario_comentario"><!--comentario 1-->
                    <h1> {{game.averageScore}} ★</h1>
                </div> 
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                
                <div class="container" style="margin: 10px;">
                    <div class="card h-100">
                    
                    <div class="card-body">
                        <h4 class="card-title">
                        <p>Descripción.</p>
                        </h4>
                        <p class="card-text">{{game.description}}</p>
                    </div>
                    
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p></p>
                <!-- Aqui debe ir la caja del chat-->   
                <div>
                    <div class="main">
                        <div class="px-2 scroll">
                           
                                {{#Messages}}
                                    {{#isMessageWriter}}
                                        
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="pr-2 pl-1"> <span class="SentMessageUserName">{{nameUser}}</span>
                                                <p class="msg">{{msgString}}</p>
                                            </div>
                                        </div>
                                        
                                    {{/isMessageWriter}}

                                    {{^isMessageWriter}}
                                        <div class="d-flex align-items-center text-right justify-content-end">
                                            <div class="pr-2 pl-1"> <span class="SentMessageUserName">{{nameUser}}</span>
                                                <p class="msg">{{msgString}}</p>
                                            </div>
                                            
                                        </div>
                                    {{/isMessageWriter}}
                                {{/Messages}}
                            
                        </div>
                        <form action="/AgregarChat/{{game.id}}" class="form-inline my-2 my-lg-0" style="padding: 20px" method="post">
                            <input class="form-control mr-sm-2" type="text"  placeholder="Escribe algo" name="sentChat" >
                            <input class="btn btnenviar my-2 my-sm-0" type="submit" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            {{/logged}}
            {{^logged}}
            <div class="col-lg-6">
                <img src="/games/{{id}}/image" width="375" height="525">

                <div class="container-fluid" id="usuario_comentario"><!--comentario 1-->
                    <h1> {{game.averageScore}} ★</h1>
                </div> 

            </div>
              <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="container" style="margin: 10px;">
                    <div class="card h-100">
                    
                    <div class="card-body">
                        <h4 class="card-title">
                        <p>Descripción.</p>
                        </h4>
                        <p class="card-text">{{game.description}}</p>
                    </div>
                    
                    </div>
                </div>
            </div>
            <!-- /.col-lg-6 -->
            {{/logged}}
        </div>
        <!-- /.row -->  
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark"style="margin: 10px; width:100%; ">
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/listPosts/{{id}}/Guias" class="btn" role="button">Guias</a>
                    </li>
                    <li class="nav-item">
                        <a href="/listPosts/{{id}}/Noticias" class="btn" role="button">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a href="/listPosts/{{id}}/Actualizaciones" class="btn" role="button">Actualizaciones</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Estadisticas/{{id}}" class="btn" role="button">Estadísticas</a>
                    </li>
                    {{#logged}}
                    <li class="nav-item">
                        {{#canSub}}
                        <form action="/GamePage/{{id}}/subButton">
                            <button class="btn btn-secondary" type='submit'  aria-haspopup="true" aria-expanded="false">
                                Suscribirse
                            </button>                            
                        </form>
                        {{/canSub}}
                        {{^canSub}}
                        <form action="/GamePage/{{id}}/unsubButton">
                            <button class="btn btn-secondary" type='submit' style="background-color: red;"  aria-haspopup="true" aria-expanded="false">
                                Desuscribirse
                            </button>                            
                        </form>
                        {{/canSub}}
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Valorar
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <form action="/valorar/{{id}}" style = "direction: rtl; unicode-bidi: bidi-override;" method="post">
                                  <input id="radio1" type="submit" style="display: none;" name="stars" value=5><!--
                                  --><label for="radio1">★</label><!--
                                  --><input id="radio2" type="submit" style="display: none;" name="stars" value=4><!--
                                  --><label for="radio2">★</label><!--
                                  --><input id="radio3" type="submit" style="display: none;" name="stars" value=3><!--
                                  --><label for="radio3">★</label><!--
                                  --><input id="radio4" type="submit" style="display: none;" name="stars" value=2><!--
                                  --><label for="radio4">★</label><!--
                                  --><input id="radio5" type="submit" style="display: none;" name="stars" value=1><!--
                                  --><label for="radio5">★</label>
                              </form>
                            </div>
                          </div>
                    </li>                 
                    {{/logged}}
                    </ul>
                    
                </div>
            </nav>
        </div>
    </div>  
    
<!-- /.container -->

{{>footer}}
