{{>header}}

  <!-- Page Content -->

  <div class="container container-white">
    <h1 class="my-4">{{name}}: lista {{postType}}</h1> 
    <div class="row">        
      <div class="col-lg-9 col col-md-8 col-sm-8">
        {{#lista}}
      <div class="col-lg-8 col-md-12 mb-4 btn-primary listElement">
        <a href="/expandedPost/{{id}}"><img class="listImage" src="/images/sample1.jpg" width="384" height="216"></a>
        <h5>{{title}}</h5>
        <p class=listText>{{postText}}</p>
      </div>
      {{/lista}}
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-4">
        <h2 class="my-4">{{whatList}}</h2>
        
        <div class="container" style="margin-right: 20px; margin-bottom: 20px;">
        {{#selectedList}}
        <div class="card h-100">
          <a href="/GamePage/{{id}}"><img class="card-img-top" src="/games/{{id}}/image" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" class="links"></a>
            </h4>
            <p class="card-text">{{gameTitle}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{averageScore}} ★</small>
          </div>
        </div>
        {{/selectedList}}
        
      </div>
    </div>
    
  </div>
  <!-- /.container -->
  {{>footer}}

