{{>header}}
  <!-- Page Content -->
  <div class="container" style="padding-bottom: 305px;">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-6">
        <div class="main-section">
          <div class="content-section">
            <div class="head-section">
              <h3>Iniciar sesión</h3>
            </div>
            <div class="body-section">
              <form action="/login" method="post">
                <div class="form-input">
                  <input type="text" name="name" placeholder="Nombre de usuario">
                </div>
                <div class="form-input">
                  <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="container">
                  <div class="row">
                  <div class="form-input col-md-8">
                    <input type="submit" value="IniciarSesion">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                  </div>
              </form>
              <form action="/googleUser" method='POST'>
                  <div class="g-signin2 col-md-4" data-onsuccess="onSignIn" style="padding-left: 20px;padding-top: 13px;">
                    <button class="btn-info" data-onsuccess="onSingIn">
                      <input type="text" id="fullNameGoogleUser"   value="" name="name" 	hidden/> 	<!-- FULL NAME GOOGLE USER -->
                      <input type="text" id="profileImgGoogleUser" value="" name="profileImgGU"	hidden/>  	<!-- PROFILE IMAGE GOOGLE USER -->
                    </button>
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3">
      </div> 
    </div>
  </div>
  <!-- /.container -->
{{>footer}}