{{>header}}
  <!-- Page Content -->
  <div class="container" style="padding-bottom: 305px;">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-6">
        <div class="main-section">
          <div class="content-section">
            <div class="head-section">
              <h3>Iniciar sesión</h3>
            </div>
            <div class="body-section">
              <form action="/IniciarSesion">
                <div class="form-input">
                  <input type="text" name="info" placeholder="Nombre de usuario">
                </div>
                <div class="form-input">
                  <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="form-input">
                  <input type="submit" value="Iniciar Sesion">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3">
      </div> 
    </div>
  </div>
  <!-- /.container -->
{{>footer}}