<div class="row">        
    <div class="col-lg-8 col-md-12 mb-4 btn-primary listElement">
      <a href="/expandedPost/Test1"><img class="listImage" src="/images/sample1.jpg" width="384" height="216"></a>
      <h5>Test1</h5>
      <p class=listText></p>
    </div>
    <div class="col-lg-8 col-md-12 mb-4 btn-primary listElement">
        <a href="/expandedPost/Test2"><img class="listImage" src="/images/sample2.jpg" width="384" height="216"></a>
        <h5>Test2</h5>
        <p class=listText></p>
      </div>
      <div class="col-lg-8 col-md-12 mb-4 btn-primary listElement">
        <a href="/expandedPost/Test3"><img class="listImage" src="/images/sample1.jpg" width="384" height="216"></a>
        <h5>Test3</h5>
        <p class=listText></p>
      </div>
      <div class="col-lg-8 col-md-12 mb-4 btn-primary listElement">
        <a href="/expandedPost/Test4"><img class="listImage" src="/images/sample2.jpg" width="384" height="216"></a>
        <h5>Test4</h5>
        <p class=listText></p>
      </div>
  </div>