{{>header}}
  <!-- Page Content -->
  <div class="container" style="padding-bottom: 500px">
    <div class="row">
        <div class="col-lg-12" style="text-align: center; padding-top: 20px;">
            <form action="/postNewGame" method="post">
                <p>Portada: </p>
                <input type='text' name='user' value='{{#user}}{{.}}{{/user}}'/>
                <p>Titulo:</p>
                <input type='text' name='title'/>
                <p>Descripción:</p>
                <input type='text' name='title'/>
                <p>Categorías</p>
                <input type='text' name='title'/>
                <p></p>
                <input type='submit' value='Guardar'/>
            </form>

        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{{>footer}}