{{>header}}
  <!-- Page Content -->
  <div class="container" style="padding-bottom: 500px">
    <div class="row">
        <div class="col-lg-12" style="text-align: center; padding-top: 20px;">
            <form action="/adminUpdates/GameAdded" method="post" enctype="multipart/form-data">
                <p>Portada:</p>
		            <input type='file' name='image' accept=".jpg, .jpeg"/>	
                <p>Titulo:</p>
                <input type='text' name='gameTitle'/>
                <p>Descripción:</p>
                <input type='text' name='description'/>
                <p></p>
                <div class="wrap">
                  <input list="colores" name="colores" type="text" placeholder="Categoría">
                  <datalist id="colores">
                      <option value="Horror"></option>
                      <option value="Shooter"></option>
                      <option value="Action"></option>
                      <option value="Platformer"></option>
                      <option value="Sports"></option>
                      <option value="Puzzles"></option>
                      <option value="Narrative"></option>
                      <option value="RPG"></option>    
                  </datalist>
                  </div>
                <p></p>
                <input type='submit' value='Guardar'/>
            </form>

        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{{>footer}}