{{>header}}
  <!--Google-->
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
  </script>
  <!-- Page Content -->
  <div class="container container-white" style="padding-bottom: 20px;">
  {{#user}}
    <div class="row">
        <div class="col-lg-4" style="text-align: center;">
          <form action="/profile/changeProfilePhoto" method="post" enctype="multipart/form-data">
            <img src="/profile/image" width="350" height="350" style="padding-top: 20px; margin-top: 10px; border-radius: 200px;">
            <div style="margin-top: 50px;">
              <input type='file' name='image' accept=".jpg, .jpeg, .png"/>
              <input type='submit' value='Save'/>
            </div>
          </form>
        </div>

        <div class="col-lg-5">
          <h1 class="my-4">Datos Usuario</h1>
          <div>
            <ul>
              <li>
                Nombre de usuario: <span class="nombre_usuario">{{info}}</span>
              </li>
              <li>
                Contraseña: <span class="contraseña">{{password}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h1 class="my-4">Settings</h1>
          <div id="myDropdown" class="dropdown-content">
            <form action="/profile/changeName" method="post">
              <input type="text" placeholder="Cambiar Nombre.." name="name">
              <input type="submit" value="Save">
            </form>
          </div>
          <p></p>
          <div id="myDropdown" class="dropdown-content">
              <form action="/profile/changePass" method="post">
                <input type="text" placeholder="Cambiar Contraseña.." name="password">
                <input type="submit" value="Save">
              </form>
          </div>
          <p></p>
          <div style="margin: 20px">
            <form action="/profile/subscriptions">
              <input class="btn btn-info" type="submit" value="Suscripciones" style="margin-left: 105px;">
            </form>
          </div>
          <div style="margin: 20px">
            <form action="/Index">
              <input class="btn btn-danger" type="submit" value="Cerrar Sesion" style="margin-left: 105px;">
            </form>
          </div>
        </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {{/user}}
</div>
{{>footer}}
