{{>header}}
<!-- Page Content -->

<div class="container" style="padding-bottom: 150px">
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <div class="main-section">
        <div class="content-section">
          <div class="head-section">
            <h3>Registrarse</h3>
          </div>
          <div class="body-section">
            <form action="/signIn" method="post">
              <div class="form-input">
                <input type="text" name="name" placeholder="Nombre de usuario">
              </div>
              <div class="form-input">
                <input type="text" name="Email" placeholder="Email">
              </div>
              <div class="form-input">
                <input type="password" name="password" placeholder="Contraseña">
              </div>
              <div class="form-input">
                <input type="password" name="password1" placeholder="Confirmar contraseña">
              </div>
              <div class="form-input">
                <input type="submit" value="Registrarse">
              </div>
              <p style="color: rgb(255, 255, 255);text-align: center;">{{problem}}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
<!-- /.container -->
{{>footer}}