{{>header}}
  <!-- Page Content -->
  
  <div class="container" style="padding-bottom: 150px">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-6">
        <div class="main-section">
          <div class="content-section">
            <div class="head-section">
              <h3>Registrarse</h3>
            </div>
            <div class="body-section">
              <form>
                <div class="form-input">
                  <input type="text" name="" placeholder="ID de usuario">
                </div>
                          <div class="form-input">
                  <input type="text" name="" placeholder="Email">
                </div>
                <div class="form-input">
                  <input type="password" name="" placeholder="Contraseña">
                </div>
                          <div class="form-input">
                  <input type="password" name="" placeholder="Confirmar contraseña">
                </div>
                <div class="form-input">
                
                  <button type="submit" class="btn-submit"><a href="/">Registrarse</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3">
      </div> 
    </div>
  </div>
  <!-- /.container -->
{{>footer}}