<div class="col-lg-3 col-md-4 mb-4">
    <div class="card h-100">
      <a href="/GamePage/9"><img class="card-img-top" src="/games/9/image" alt=""></a>
      <div class="card-body">
        <h6 class="card-title">
          <a href="/GamePage/9" >Call of duty black opss</a>
        </h6>
        <!--<p class="card-text">descripcion del juego</p>-->
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 mb-4">
    <div class="card h-100">
      <a href="/GamePage/11"><img class="card-img-top" src="/games/11/image" alt=""></a>
      <div class="card-body">
        <h6 class="card-title">
          <a href="/GamePage/11" >Rachet and Clanck</a>
        </h6>
        <!--<p class="card-text">descripcion del juego</p>-->
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 mb-4">
    <div class="card h-100">
      <a href="/GamePage/13"><img class="card-img-top" src="/games/13/image" alt=""></a>
      <div class="card-body">
        <h6 class="card-title">
          <a href="/GamePage/13" >Phoenix Wright Ace Attorney</a>
        </h6>
        <!--<p class="card-text">descripcion del juego</p>-->
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 mb-4">
    <div class="card h-100">
      <a href="/GamePage/15"><img class="card-img-top" src="/games/15/image" alt=""></a>
      <div class="card-body">
        <h6 class="card-title">
          <a href="/GamePage/15" >Final Fantasy XII</a>
        </h6>
        <!--<p class="card-text">descripcion del juego</p>-->
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>