{{>header}}
  <!-- Page Content -->
  <div class="container" style="padding-bottom: 400px">
    <div class="row">
      <div class="col-lg-12">
        <p></p>
        <h2>Suscripciones</h2>  
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Portada</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Categoria</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#listaSubs}}
            <tr>
              <td><image src="/images/skyrimlogo.jpg" width="200" height="120" style="margin-left: 20px;"></image></td>
              <td>{{gameTitle}}</td>
              <td>{{description}}</td>
              <td>{{genre}}</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
            {{/listaSubs}}
          </tbody>
        </table>
      </div>
      <!-- /.col-lg-12 -->
      <!-- /.row -->
    </div>
  </div>
  <!-- /.container -->
  {{>footer}}
